.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 2rem;

  &__svg {
    width: 4rem;
    height: 4rem;
    color: var(--yellow);
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
  }

  &__circle {
    opacity: 0.25
  }

  &__path {
    opacity: 0.5;
  }

  p {
    font-size: 3rem;
    color: var(--yellow);
  }

}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
