@use "../../base/mixins" as m;

.container {
  margin-inline: auto;
  width: 100%;
  max-width: 1280px;
  display: none;

  @include m.desktop {
    display: block;
  }
}

.header {
  padding: 2rem;
  border-bottom: 1px solid var(--light-gray);
  box-shadow: 1px 1px 5px var(--black);
}

.nav {
  display: flex;
  align-items: center;

  &__logo-group {
    color: var(--yellow);
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__logo {
    background-color: var(--darker-green);
    border-radius: 20px;
    padding: 0.5rem;
  }


  &__links {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-left: 4rem;
    flex: 1;
  }

  &__link {
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
    font-size: 2rem;
    transition: color 0.2s ease-in-out;
    text-transform: uppercase;

    &:hover {
      color: var(--yellow);
    }
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__username {
    text-transform: capitalize;
  }

  &__login {
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
    font-size: 2rem;
    transition: color 0.2s ease-in-out;
    background-color: transparent;

    &:hover {
      color: var(--yellow);
    }
  }

  &__logout {
    @include m.btn(#001e1d,#f9bc60 );
    padding: 1rem 1.5rem !important;
    text-transform: lowercase;
  }

  &__lang {
    border-radius: 10px;
    padding: 0.5rem;
    width: 80px;
  }
}


.section {
  display: block;
  @include m.desktop {
    display: none;
  }

  .nav {
    &__menu {
      font-size: x-large;
      color: var(--yellow);
    }

    > div {
      text-align: center;
      flex: 1;
    }

    &__group {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 2rem;
    }

    &__lang {
      border-radius: 10px;
      padding: 0.5rem;
      width: 80px;
    }
  }
}

.mobile {
  position: fixed;
  top: 0;
  background-color: var(--darker-green);
  z-index: 100;
  min-height: 100vh;
  left: 0;
  width: 60%;
  padding: 2rem;

  @include m.desktop {
    display: none;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  &__close {
    @include m.btn(#e16162,#ffff );
    align-self: flex-end;
  }

  &__links {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }

  &__login {
    @include m.btn(#004643,#f9bc60 );
    padding: 1rem 1.5rem;
    text-transform: lowercase;
  }

  &__logout {
    @include m.btn(#004643,#f9bc60 );
    padding: 1rem 1.5rem;
    text-transform: lowercase;
  }

}

@keyframes openMenu {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.open {
  animation: openMenu 0.5s ease-in-out;
}