@use '../../base/mixins' as m;

.heading {
    @include m.heading;
}

.posts {
  margin-top: 5rem;

    &__grid {
        @include m.grid(1, 5rem);

        @include m.tablet {
            @include m.grid(2, 2rem);
        }

        @include m.desktop {
            @include m.grid(3, 5rem);
        }
    }
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
  border: 1px solid var(--white);
  border-radius: 20px;
  padding-inline: 3rem;
  padding-block: 3rem;
  background-color: #001e1d;
  transition: all 150ms ease-in-out;
  box-shadow: 5px 7px 11px -1px rgba(0, 0, 0, 0.72);

  @include m.desktop {
    gap: 2rem;
  }

  &:hover {
    transform: scale(1.04);
  }


  // &__user {}

  // &__title{}

  &__body{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__buttons{
    display: grid;
    align-items: center;
    margin-inline: auto;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);

    button > div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    button > div > svg {
      width: 2.5rem;
      height: 2.5rem;
    }
  
  
    &--update {
      @include m.btn(#f1c40f, #001e1d);
    }

    &--delete {
      @include m.btn(#e74c3c, #fff);
    }

     &--link {
      grid-column-start: 1;
      grid-column-end: 3;
      border: 1px solid var(--white);
      @include m.btn(#f5f5f5, #000);

    }
  }
}

.edit-modal {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-self: center;
  background-color: var(--dark-green);
  border: 2px solid var(--white);
  border-radius: 20px;
  padding: 3rem;

  &__close {
    @include m.btn(#e16162, #fff);
    align-self: flex-end;
  }

  &__textarea {
    border: 1px solid var(--white);
    border-radius: 20px;
    padding: 2rem;
    background-color: var(--darker-green);
    color: var(--white);
    font-size: large;
    outline: none;
    resize: none;
    height: 400px;
    width: 300px;

    @include m.tablet {
      width: 500px;
    }
    
  }

  &__update {
    @include m.btn(#f9bc60, #fff);

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

}