@use "../../base/mixins" as m;

.heading {
  @include m.heading;
}

.posts {
  margin-top: 5rem;

  &__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 4rem;

  @include m.desktop {
      grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    }
  }
}



.post {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
  width: 100%;
  border-radius: 20px;
  padding: 3rem;
  background-color: #001e1d;
  transition: all 150ms ease-in-out;
  box-shadow: 5px 7px 11px -1px rgba(0, 0, 0, 0.72);


  &:hover {
    transform: scale(1.04);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // &__user {}

    &__btn {
      @include m.btn(transparent,#e16162 );
      font-size: 3rem;
    }
  }


  &__title{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__body {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__buttons {
    display: grid;
    gap: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;

    @include m.tablet {
      gap: 2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;

    }


     &__group {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: small;
      gap: 1rem;
    }

    &__svg {
      width: 2rem;
      height: 2rem;

      @include m.tablet {
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    &--update {
      @include m.btn(#f1c40f, #001e1d);
      padding: 1rem 1rem;

    }

    &--delete {
      @include m.btn(#e74c3c, #fff);
      padding: 1rem 1rem;

    }

    &--link {
      @include m.btn(#f5f5f5, #000);
      padding: 1rem 1rem;
      grid-column-start: 1;
      grid-column-end: 3;
      border: 1px solid var(--white);
    }
  }
}

.edit-modal {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-self: center;
  width: 100%;
  background-color: var(--dark-green);
  border-radius: 20px;
  padding: 3rem;

  &__close {
    @include m.btn(#e16162, #fff);
    align-self: flex-end;
  }

  &__textarea {
    padding: 2rem;
    border-radius: 10px;
    background-color: var(--darker-green);
    color: var(--white);
    font-size: large;
    outline: none;
    resize: none;
    height: 400px;

    @include m.tablet {
      width: 500px;
    }
  }

  &__update {
    @include m.btn(#f9bc60, #fff);

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

.delete-modal{
  width: 90%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--dark-green);
  border-radius: 20px;
  padding-inline: 2rem;
  padding-block: 2rem;
  box-shadow: 5px 7px 11px -1px rgba(0, 0, 0, 0.72);

  @include m.tablet {
    max-width: 500px;
  }

  &__heading {
    width: 100%;
    margin-inline: auto;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  &__close {
    @include m.btn(#e16162, #fff);
    align-self: flex-end;
  }

  &__confirm {
    @include m.btn(#f9bc60, #fff);
  }

}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 0.5s ease-in-out;
}

