/** Media Queries **/
@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin btn($bgColor, $textColor) {
  background-color: $bgColor;
  color: $textColor;
  font-size: 1.4rem;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  border-radius: 10px;
  border: 0;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  padding: 1rem 2rem;


  &:hover {
    background-color: darken($bgColor, 10%);
  }
}

@mixin grid($columns, $gap) {
  display: grid;
  gap: $gap;
  align-items: center;
  grid-template-columns: repeat($columns, 1fr);
}

@mixin heading {
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 2rem;

  @include tablet {
    font-size: 5rem;
  }
}
