@use "./mixins" as m;

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.5;
  font-family: var(--primary-font);
  color: var(--light-gray);
}

/* Fixed minimum value below the minimum breakpoint */
p {
  font-size: 32px;
}

/* Fluid value from 568px to 768px viewport width */
@media screen and (min-width: 568px) {
  p {
    font-size: calc(32px + 16 * ((100vw - 568px) / (768 - 568)));
  }
}

/* Fixed maximum value above the maximum breakpoint */
@media screen and (min-width: 768px) {
  p {
    font-size: 48px;
  }
}

@media (min-width: 1280px) {
  :root {
    --h1: 4rem;
    --h2: 3.6rem;
    --h3: 2.4rem;
    --p: 2rem;
  }
}

h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}

p {
  font-size: var(--p);
  font-family: var(--secondary-font);
  color: var(--light-green);
}

[class$="heading"] {
  margin: 2rem 0;
}
